<h1><%= @title %></h1>

<% @meetup_all.each do |meetup| %>
<h4><a href="/meetups/<%= meetup.id %>"><%= meetup.name %></a></h4>
<% end %>
<br>
<% if signed_in? == true %>
<h4>Create Meetup</h4>
<form id="contact" action="/" method="post">

     Name: <input type="text" name="name" size="30" required/><br><br>
     Description: <input type="text" name="description" size="30" required/><br><br>
     Location: <input type="text" name="location" size="30" required/><br><br>
     <input type="submit" value="add meetup">
  </form>
  <% end %>

<% if @error %>
<p><%= @error %></p>
<% end %>
